#wrapper{
width: 1000px;
height: 540px;
margin: 20px auto;
}

#header{
width: 1000px;
height: 100px;
background: #3BBCF2;
}

#center_wrap{
width: 1000px;
min-height: 400px;
}

#one_column{
width: 700px;
height: 400px;
float: left;
background: #FAFABF;
}

#two_column{
width: 300px;
height: 400px;
float: left;
background: #E0E0E0;
}

#footer{
width: 1000px;
height: 100px;
background: #222;
}
